<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Japotech </title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheet/style.css" />
    <link rel="stylesheet" href="stylesheet/styles.css" />
    <link rel="stylesheet" href="stylesheet/bootstrap.min.css" />
    <link rel="shortcut icon" href="../images/logo2.jpg" type="image/png" />

</head>

<body>

    <div class="row justify-content-center">
        <div class="col-md-4" style="margin-top:90px;">
            <table>
                <td>
                    <th> First Name</th>
                    <th> Last Name</th>
                    <th> Email Address</th>
                    <th> Physical Address</th>
                    <th> Gender </th>
                </td>
            </table>
            <div class="card-body border"><a class="btn btn-primary btn-block" href="/admindashboardsuppliers/delete" style="color:white;">Delete Supplier</a>


            </div>
        </div>



        <script src="/js/form-validation.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js">
        </script>
        <script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

</body>

</html>